.fc-row, hr, tbody, td, th, thead {
  border-color: #EAEAEA !important;
  background: none !important;
}

.form-control:focus,
.chosen-container-active .chosen-choices {
  border-color: #F8AC59 !important;
}

.table {
  margin-bottom: 0;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  font-weight: normal;
  font-size: 13px;
}

.fc-row, hr, tbody, td, th, thead {
  border-color: #e8e8e8 !important;
}

.chosen-container {
  min-width: 100% !important;
}

.form-horizontal .control-label {
  font-weight: normal;
}

.control-label-p {
  padding: 0 0 4px;
}

.nav-tabs > li > a {
  font-weight: normal;
}

.nav-tabs > li.active > a {
  font-weight: 700;
}

.nav-products,
.nav-products1 {
  border-bottom: none;
}

.nav-products > li.active > a, .nav-products > li.active > a:focus, .nav-products > li.active > a:hover {
  border-bottom: none;
  border-color: #e7eaec #e7eaec transparent;
  border-bottom: 1px solid #fff;
}

.nav-products > li.active a {
  background-color: #fff !important;
  line-height: 19px;
}

.nav-products1 > li.active > a:focus, .nav-products1 > li.active > a:hover {
  border: none;
}

.nav-products1 > li.active a {
  border: none;
  background: none !important;
  border-bottom: 3px solid #f8ac59 !important;
}

.ibox-title {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}

.ibox-footer,
.ibox-content,
.note-editor.note-frame {
  border: 1px solid #e7eaec;
}

.ibox-content {
  border-bottom: none;
}

h3.edit {
  font-weight: lighter;
  font-size: 20px;
}

.js_reindex-attributes .select2-container {
  width: 100% !important;
}

.js_reindex-attributes .select2-container .select2-selection,
.js_reindex-attributes .select2-container .select,
.select2-container .select2-selection .select2-selection__arrow {
  height: 30px;
}

.js_reindex-attributes .select2-container .select2-selection .select2-selection__rendered {
  line-height: 29px;
}

.js_reindex-attributes .select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered {
  line-height: 23px;
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e7eaec;
}

.select2-container select,
.select2-container :focus,
.select2-container input {
  outline: none;
}

.js_multiple-row-clone {
  display: none;
}

.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  background: none;
  color: #000;
  border-color: transparent;
}

.note-editor.note-frame.fullscreen {
  z-index: 45;
}

.add-button-top {
  margin-top: 14px;
  margin-left: 29px;
  display: inline-block;
  width: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #eaeaea;
  border: 1px solid #fff;
  border-radius: 2px;
  float: left;
  margin-right: 1px;
  margin-top: 3px;
  padding: 0 5px;
  line-height: 19px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin-right: 0;
  margin-left: 2px;
}

.js_reindex-attributes .select2-container .select2-selection.select2-selection--multiple {
  height: auto;
  min-height: 30px;
  border: 1px solid #e7eaec;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
}

.clients-list {
  margin-top: 0;
}

.vertical-timeline-content p {
  margin: 0;
}

.vertical-timeline-icon.gray-bg {
  color: #a7aaab;
}

.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}

#vertical-timeline.vertical-container-reverse {
  .vertical-timeline-icon {
    top: auto;
    bottom: 0;
  }
  .vertical-timeline-content {
    &:before {
      top: auto;
      bottom: 16px;
    }
  }
}

.dd-dragel .dd-item {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  .dd-handle {
    &:hover {
      i {
        color: #676a6c;
      }
    }
  }
}

.product__update-price {
  display: inline-block;
}

.product__update-price input {
  display: none;
}

.dd-item {
  button[data-action='collapse'], button[data-action='expand'] {
    padding: 6px 10px;
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    outline: none;
    border: none;
    &:hover {
      &:before {
        color: #676a6c;
      }
    }
    &:before {
      color: #c1c1c1;
      font-size: 16px;
      display: inline-block !important;
      position: absolute;
      top: 9px;
      left: 4px;
      width: auto;
      text-indent: 100%;
    }
    & + .dd-handle {
      left: 30px;
      & + .dd3-content {
        padding-left: 60px;
      }
    }
  }
  .dd-handle {
    color: inherit;
    border: 1px dashed #e7eaec;
    border-right: none;
    background: #f3f3f4;
    padding: 6px 10px;
    display: inline-block !important;
    border-radius: 3px;
    &.dd3-handle {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      cursor: pointer;
      width: 30px;
      white-space: nowrap;
      border: none;
      overflow: hidden;
      box-shadow: none;
      &:hover {
        i {
          color: #676a6c;
        }
      }
      i {
        color: #c1c1c1;
      }
    }
  }
  .dd3-content, .dd-content {
    display: block !important;
    margin: 5px 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #676a6c;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    padding: 6px 10px 6px 30px;
    border-radius: 3px;
    a.title {
      color: #676a6c;
      &:hover {
        color: darken(#676a6c, 20%);
      }
    }
  }
}

.sticky-wrapper {
  &.is-sticky {
    .js_categories-card {
      right: 25px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  [class^="col-"] {
    right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.js_products-attribute-group-clone, .js_products-attribute-clone, .js_products-attribute-value-clone {
  display: none;
}

.product-images .js_panel_images-wrapper {
  height: 100%;
}

.js_categories-filters {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 10px;
  .form-group {
    &:hover {
      cursor: move;
      position: relative;
      background: #F6F6F6;
      &:before {
        content: ' ';
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 10px;
        height: 40%;
        width: 10px;
        display: block;
        border-left: 2px dotted #999;
      }
    }
  }
}

.product-image {
  display: inline-block;
  margin-right: 5px;
  img {
    height: 60px;
    width: auto;
    display: block;
  }
}

.panel-heading a {
  color: #FFF;
}

.onoffswitch{
  display: inline-block;
  height: 20px;
  text-align: left;
  &-inner:after{
    content: "Нет";
  }
  &-inner:before{
    content: "Да";
  }
}

.no-paddings {
  padding: 0 !important;
}

#page-wrapper-right {
  padding: 0 15px;
}

.pace-active {
  display: none !important;
}

.wrapper-spinner {
  position: absolute;
  background-color: rgba(97, 105, 119, 0.17);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 111;
  .spinner-example {
    position: relative;
    top: 45%;
  }
}

h3, h4, h5 {
  font-weight: normal;
}

.bd-r {
  border-radius: 50%;
}

.js_operator-products .no-order,
.js_operator-products-order .no-product{
  display: none;
}

.form-group label{
  font-weight: 500;
  text-align: right;
}

.breadcrumb{
  li {
    display: inline;
  }
}

.f-z{
  &-10{
    font-size: 10px;
  }
}